@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <img class="col-6 pb-2 pt-2" alt="comic store" src="https://fwtx.com/downloads/29395/download/IMG_9094.jpg?cb=0c27c9f1eb1f7ef5400afde0b0aa32a7">
    <div class="col-6 pb-2 pt-2">
        <div class="card" style="background-color: #FFF7ED">
          <div class="card-header">
              <h2>About Us</h2>
          </div>
          <div class="card-body">
            <p class="card-text">
                The company was founded in 2008. The main activity of the company is the sale of comic books from world famous publishing houses. At the moment, the store is stocked with more than 50,000 different titles and with the most favorable prices in the region.
            </p>
            <p>
                In addition to a large selection of comics, our assortment is full of popular book editions of every genre, where you can find everything from biographies, music books, classics to popular psychology. Of course, we have a wide selection for fans of horror, fantasy, science fiction and many other genres.
            </p>
              <p>
                In addition, in the store we have a special department - GAME ON where the latest games for Sony PlayStation, X-box, WII are located.
              </p>

              <p>
                Come and visit us, where you will be able to refresh yourself and enjoy the atmosphere of the Gotham coffee bar, which is located in the bookstore.
              </p>
              <p>
                We expect you!
            </p>
          </div>
        </div>
    </div>
</div>

<div class="row">
        
        <div class="col-4">
            <div class="row mb-3 mt-2">
                <h2>Contact</h2>
            </div>
            <div class="row mb-2">
                <h2>Address</h2>
                <p>Rugjer Boshkovikj 16</p>
                <p>1000 Skopje</p>
                <p>N. Macedonia</p>
            </div>
            <div class="row mb-2">
                <h2>Email</h2>
                <p>info@comic-shop.com.mk</p>
            </div>
            <div class="row mb-2">
                <h2>Phone</h2>
                <p>+389 02 12 34 567</p>
                <p>Mon – Fri: 11:00 – 19:00 h</p>
                <p>Saturday: 10:00 – 15:00 h</p>
            </div>
        </div>
        <div class="col m-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4192.901168149734!2d21.411941756344383!3d42.003948548082825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13541443605aa4ab%3A0x33d56647e5b87264!2sFaculty%20of%20Computer%20Science%20%26%20Engineering!5e0!3m2!1sen!2smk!4v1687181123312!5m2!1sen!2smk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-3"></iframe>
        </div>
    </div>

